*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;	
	min-width: 600px;
	/*background-image: url(img/main_bg.png);*/
}
body{
	background-color: #D9FAE7;
	background-image: url(../img/leaves.png);
	color: rgb(19,23,25);
	height: 100%;	
	font-family: 'Times New Roman', Times, serif;
}

.left{
	float: left;
}

.right{
	float: right;
}

a{	
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition all.6s ease;
	-webkit-transition all.6s ease;
	-ms-transition all.6s ease;
}
a:hover{
	text-decoration: underline;
}

p{
	text-indent:1.5em;
	text-align: justify;
}

/*Запрет выделения текста*/
.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*Дизайн ошибок*/
.errormessage {
	color: #A50D0D;
	font-size: 1.2em;
}

header{
	position: absolute;	
	height: 100px;
	width: 100%;
	background-color: #e8f7ef;
}

header h1{
	/*width: 40%;
	margin: 0 auto;*/
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(19,23,25);
	font-size: 3em;
}

/*Навигация по сайту*/
.navigation{
	position: absolute;	
	margin-top: 100px;
	width: 100%;
	height: 50px;
	background-color: #2a4837;
	box-shadow: 0 3px 3px rgba(19,23,25,.75);
}

.navigation .left{
	margin-left: 10px;
}
.navigation .right{
	margin-right: 10px;
}

.navigation li{
	float: left;
	list-style-type: none;
	padding: 10px 20px;
}
.navigation a, label{
	font-size: 1.2em;
	color: #e8f7ef;
}

/*Навигация пользователя*/
.user_navigation{
	position: fixed;	
	float: left;
	/*background-color: #2a4837;*/
	width: 20%;
	height: 100%;	
}
.user_navigation ul{
	padding-right: 8%;
	border-right: 5px solid;
	border-color: #2a4837;
}
.user_navigation li{
	list-style-type: none;
	/*background: #e8f7ef;*/
	background-image: url(../img/links.png);
	margin: 5% 0%;
	padding: 10% 20px;
	border: 5px double;
	border-color: #2a4837;
	transition: all.6s ease;
	-moz-transition all.6s ease;
	-webkit-transition all.6s ease;
	-ms-transition all.6s ease;
}

.user_navigation div, label{
	font-size: 1.2em;
	font-weight: bold;
	color: #2a4837;
}
/*.user_navigation a:hover{
	text-decoration: none;
}*/

.user_content{
	float: left;
	margin-left: 22%;
	width: 78%;
	height: 100%;	
}


/*Главный блок*/
.wrapper{
	/*float: left;*/
	position: relative;
    min-height: 100%;
    height: auto !important; /* для всех браузеров (можно убрать, если поддержка IE6 не нужна) */
    height: 100%; /* для IE6, т.к. он понимает height, как min-height */
}
.content{	
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 150px;
	margin-bottom: 52px;	
	padding-top: 20px;
	padding-bottom: 20px;
   	width: 98%;
   	min-height: 100%;
   	height: 100%;
   	float: left;   	
}

/*Главная страница сайта*/
.firstpage{
	display: none;
}
/*О сайте*/
.aboutus{
	display: none;
}
.aboutus h1{
	text-align: center;
}
.aboutus p{
	margin: 10px 0;
	font-size: 1.1em;	
}
.aboutus span{
	font-weight: bold;
	font-size: 1.1em;
}

/*Контакты*/
.contacts{
	display: none;
}
.contacts h1{
	text-align: center;
}
.contacts p{
	margin: 10px 0;
}

/*Ошибки*/
.errorblock{
	display: none;
}


/* Подвал сайта*/
.clear {
    clear: both; /* прерывание обтекания */
}
footer{	
	position: absolute;
    bottom: 0;
	width: 100%;
	height: 50px; /* высота футера */
	/*margin-top: -51px;  верхнее отрицательное поле */
	background-color: #e8f7ef;
	border-top: 2px solid rgb(19,23,25);
	
}

footer p{
	text-indent: 0em; /* Отступ первой строки */
    text-align: center; /* Выравнивание по ширине */
	margin-top: 10px;
}

/*Открытие окна "Вход и регистрация"*/
/*.logina{
	float: left;
	padding: 10px;
}*/
/*
.registarte_a{
	float: left;
	padding: 10px;
}*/




