*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	background-color: #F8E0F1;
	background-image: url(img/main_bg.png);
}
body{
	width: 80%;
	padding: 20px;
	margin:0 auto;
}
header{
	/*position: relative;*/
	/*float: left;*/
}


/*Навигация по сайту*/
.navigation{
	/*position: absolute;*/
	
}
li{
	float: left;
	list-style-type: none;
	padding: 10px;
}

/*Главный блок*/
.wrapper{
	float: left;
	position: relative;
    min-height: 100%;
}
.content{
	float: left;
   	padding-bottom: 90px;
}
/*.wrapper:after{
	content: "";
	display: block;
	height: 70px;
}*/

/* Подвал сайта*/
.wrapper footer{
	float: left;
	position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
	height: 90px;
	/*background: #01021e;*/
	border-top: 2px solid #01021e;
	
}

/*Открытие окна "Вход и регистрация"*/
/*.logina{
	float: left;
	padding: 10px;
}*/
/*
.registarte_a{
	float: left;
	padding: 10px;
}*/




