
.user_content .thegoals{
	display: none;
}
.user_content .thetests{
	display: none;
}
.user_content .thediagrams{
	display: none;
}

.thecabinet p{
	margin: 20px 0px;
}
.thecabinet span, input{
	padding: 5px;
}