/*+clearfix {*/
.framecontainer:after, .header:after, .buzz .content .comments:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.framecontainer, .header, .buzz .content .comments
{
	display: block;
	*height: 1px;
}
@media (max-width: 1000px)
{
	.top3 OL LI:after
	{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		font-size: 0;
	}
	.top3 OL LI
	{
		display: block;
		*height: 1px;
	}
}
/*+}*/
HTML BODY
{
	background: #00a1e0;
}
HTML BODY .container
{
	background: #00a1e0;
}
/*[clearfix]*/
.framecontainer
{
	padding: 0 10px 40px;
	background-color: #285AA0;
}
@media only screen and (max-width: 480px)
{
	.framecontainer
	{
		padding: 0 0 40px;
	}
}
/*[clearfix]*/
.header
{
	background: #00a1e0;
	background-size: 1150px 128px;
	background-position: center bottom;
	background-repeat: no-repeat;
}
.header .navbar .home A
{
	font-weight: 700;
	text-shadow: 0px 0px 3px #FFFFFF;
	color: #FFFFFF;
}
.elevator
{
	background-color: #00a1e0;
	text-align: center;
	padding-bottom: 11px;
	padding-top: 40px;
}
.elevator .amp
{
	font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal;
	color: #fafafa;
}
.elevator H1
{
	padding-top: 0px;
	font-size: 45px;
	color: #FFFFFF;
	font-family: "Roboto Condensed", Helvetica, sans-serif;
	font-weight: 700;
	text-align: center;
	text-shadow: 0px 0px 6px #FFFFFF;
	letter-spacing: -1px;
}
.elevator H1 STRONG
{
	color: #AEAEAE;
	text-shadow: 0 0 10px #000000;
}
.elevator H2
{
	color: #FFFFFF;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
	padding-bottom: 25px;
	font-size: 35px;
	font-weight: 300;
	max-width: 780px;
	margin: auto;
}
.screenshot
{
	text-align: center;
	background-image: url(bg-homepage-gradient.png);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-bottom: 40px;
}
.screenshot .video-js
{
	/*+box-shadow: 0 0 25px rgba(0, 0, 0, 0.642);*/
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.642);
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.642);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.642);
	margin: auto;
}
@media only screen and (max-width: 999px)
{
	.elevator H1
	{
		font-size: 36px;
	}
	.elevator H2
	{
		font-size: 28px;
		max-width: 90%;
	}
	.screenshot .video-js
	{
		max-width: 768px;
		max-height: 512px;
	}
}
@media only screen and (max-width: 780px)
{
	.screenshot .video-js
	{
		max-width: 480px;
		max-height: 320px;
	}
}
@media only screen and (max-width: 480px)
{
	.elevator H1
	{
		padding-top: 0;
		line-height: 1;
		padding-bottom: 20px;
	}
	.elevator
	{
		padding-top: 20px;
	}
	.screenshot .video-js
	{
		max-width: 240px;
		max-height: 160px;
	}
}
.screenshot .video-js
{
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left 90%, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
	/*+box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);*/
	-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.vjs-loading-spinner
{
	/*+opacity: 50%;*/
	-filter: alpha(opacity=50);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
/*The videojs spinning progress does not spin correctly without these fixes*/
.vjs-default-skin .vjs-loading-spinner:before
{
	position: relative;
}
.vjs-default-skin .vjs-loading-spinner:after
{
	position: relative;
}
.top3
{
	background-color: #285AA0;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.top3 .content.unframed
{
	max-width: none;
	=width: 1012px;
	padding: 0;
}
.top3 OL
{
	display: inline-block;
	margin-bottom: 10px;
}
.top3 OL LI
{
	float: left;
	list-style: none;
	min-height: 372px;
	margin: 7px;
	width: 275px;
	padding: 20px;
	/*+border-radius: 20px 20px 0 0;*/
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	-khtml-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #FFFFFF;
	/*background-color: #122540;*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 37, 64, 1.00)), to(rgba(18, 37, 64, 0.00)));
	background-image: -webkit-linear-gradient(top, rgba(18, 37, 64, 1.00), rgba(18, 37, 64, 0.00));
	background-image: -moz-linear-gradient(top, rgba(18, 37, 64, 1.00), rgba(18, 37, 64, 0.00));
	background-image: -o-linear-gradient(top, rgba(18, 37, 64, 1.00), rgba(18, 37, 64, 0.00));
	background-image: -ms-linear-gradient(top, rgba(18, 37, 64, 1.00), rgba(18, 37, 64, 0.00));
	background-image: linear-gradient(top, rgba(18, 37, 64, 1.00), rgba(18, 37, 64, 0.00));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#122540', EndColorStr='#122540');
}
.top3 OL LI IMG
{
	padding: 17px;
	bottom: 0;
	/*+opacity: 80%;*/
	-filter: alpha(opacity=80);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.top3 OL LI B
{
	white-space: nowrap;
	font-size: 125%;
}
.top3 OL LI H3
{
	font-size: 23px;
}
.top3 OL LI DIV
{
	margin-bottom: 17px;
	color: #C5DDFF;
	font-size: 16px;
	text-align: left;
	min-height: 100px;
}
.top3 .content .learn.button
{
	display: inline-block;
	font-size: 120%;
	padding: 5px 20px;
}
@media (max-width: 1000px)
{
	.top3
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	/*[clearfix]*/
	.top3 OL LI
	{
		min-height: 0;
		margin: auto 1%;
		padding: 0;
		width: 31%;
	}
	.top3 OL LI DIV
	{
		margin: 0 20px 20px;
		min-height: 0;
		padding-top: 17px;
	}
	.top3 OL LI H3
	{
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 10px;
		font-size: 20px;
	}
	.top3 OL LI H3 B
	{
		white-space: normal;
	}
	.top3 OL LI IMG
	{
		width: 108px;
		height: 108px;
	}
}
@media only screen and (max-width: 480px)
{
	.top3 OL LI .button
	{
		margin-bottom: 20px;
	}
	.top3
	{
		padding: 15px 0 0;
	}
	.top3 OL LI
	{
		float: none;
		/*+border-radius: 0;*/
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
		min-height: 0;
		margin: auto;
		padding: 0;
		width: 100%;
	}
	.top3 OL LI DIV
	{
		margin: 0 10px 20px;
		min-height: 0;
	}
	.top3 OL LI H3
	{
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.top3 OL LI H3 B
	{
		white-space: nowrap;
	}
	.top3 OL LI .button
	{
		margin-bottom: 20px;
	}
}
.buzz .content
{
	margin: auto;
}
.buzz .columncontainer
{
	display: table;
}
/*[clearfix]*/
.buzz .content .comments
{
	padding: 30px 30px 0;
}
@media only screen and (max-width: 864px)
{
	.buzz .content .comments
	{
		padding: 0;
	}
}
.buzz .content .comments
{
	vertical-align: top;
	text-align: center;
}
.buzz .content .comments BLOCKQUOTE
{
	margin-bottom: 30px;
	font-family: Georgia, serif;
	font-style: italic;
	float: left;
	width: 45%;
	color: #444;
	padding-left: 2%;
	padding-right: 2%;
	text-align: left;
	line-height: 1.7;
}
.buzz .content .comments BLOCKQUOTE.odd
{
	clear: left;
}
.buzz .content .comments BLOCKQUOTE EM
{
	background-color: #DBDBDB;
}
.buzz .content .comments BLOCKQUOTE FOOTER
{
	color: #A4A4A4;
}
.buzz .content .comments BLOCKQUOTE FOOTER A
{
	color: #6E90BF;
}
.buzz .content .stats
{
	text-align: center;
	color: #959595;
	border-bottom: 1px solid #BEBEBE;
	height: 1px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.buzz .content .stats SPAN
{
	font-family: "Roboto Condensed", Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: -15px;
	background-color: #FFFFFF;
	padding-left: 7px;
	padding-right: 7px;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
	/*+placement: shift 0px -10px;*/
	position: relative;
	left: 0px;
	top: -10px;
}
.buzz .content .logos
{
	max-width: 600px;
	=width: 600px;
	margin: 30px auto;
	text-align: center;
}
.buzz .content .logos IMG
{
	padding: 5px 15px;
	/*+opacity: 75%;*/
	-filter: alpha(opacity=75);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}
@media only screen and (max-width: 480px)
{
	.buzz .content .comments BLOCKQUOTE
	{
		clear: left;
		width: 100%;
	}
}
.buzz .content .comments BLOCKQUOTE.onePerRow
{
	width: 100%;
	text-align: center;
}
@media only screen and (max-width: 480px)
{
	.buzz .content .comments BLOCKQUOTE.onePerRow
	{
		text-align: left;
	}
	.buzz .content .stats SPAN
	{
		display: inline-block;
		margin-top: 0;
	}
	.buzz .content .stats SPAN:first-child
	{
		display: none;
	}
}
