@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700);
/*+clearfix {*/
.framecontainer:after, .content.frame:after, .content LABEL.hasError:after, .sitemap .content:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.framecontainer, .content.frame, .content LABEL.hasError, .sitemap .content
{
	display: block;
	*height: 1px;
}
@media only screen and (max-width: 480px)
{
	.header:after, .header .navbar:after
	{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		font-size: 0;
	}
	.header, .header .navbar
	{
		display: block;
		*height: 1px;
	}
}
/*+}*/
/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
/*+}*/
HTML
{
	background-color: #000000;
}
HTML BODY
{
	background-image: url(bg-rapture-repeat.png);
	background-repeat: repeat-x;
	font: 300 16px Roboto, Helvetica, sans-serif;
	line-height: 1.5;
	background-color: #285CA5;
	color: #FFFFFF;
}
HTML BODY .container
{
	background-image: url(bg-rapture.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;
}
A
{
	text-decoration: none;
	color: #6B94CE;
}
A:hover
{
	color: #2359A6;
}
A.downloadbutton
{
	cursor: pointer;
}
.header
{
	background-color: transparent !important;
	background-position: bottom;
	background-repeat: no-repeat;
}
.header .content
{
	padding: 2px;
	vertical-align: middle;
	max-width: 1920px;
	=width: 960px;
	margin: auto;
}
.header .navbar
{
	font-family: "Roboto Condensed", Helvetica, sans-serif;
	padding-top: 2px;
	padding-bottom: 3px;
	float: right;
}
.header .navbar LI
{
	float: left;
	list-style: none;
}
.header .navbar LI A
{
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;
}
.header .companylogo
{
	float: right;
	padding: 5px;
}
@media only screen and (max-width: 480px)
{
	/*[clearfix]*/
	.header
	{
		padding: 2px;
		text-align: center;
	}
	/*[clearfix]*/
	.header .navbar
	{
		display: inline-block;
		float: none;
		margin: auto;
	}
	.header .companylogo
	{
		clear: left;
		float: none;
		display: block;
		margin: auto;
		padding-top: 5px;
	}
}
.header .pagetitle
{
	display: block;
	clear: both;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font: 700 45px "Roboto Condensed";
	text-shadow: 0px 0px 6px #FFFFFF;
	letter-spacing: -1px;
	padding-bottom: 15px;
}
.header .bigsalt
{
	display: block;
	clear: both;
	margin: auto;
}
.toplinks
{
	text-align: center;
}
.toplinks UL
{
	display: inline-block;
	list-style: none;
}
.toplinks UL LI
{
	display: inline-block;
	=display: inline;
	=zoom: 1;
	margin-left: 6px;
	margin-right: 6px;
}
.toplinks UL LI A
{
	width: 120px;
	padding: 22px 8px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font: 400 18px "Roboto Condensed";
	text-transform: uppercase;
	/*+border-radius: 15px;*/
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	/*+box-shadow: 0px 8px #142C5C, 0px 10px 10px #3465AC;*/
	-moz-box-shadow: 0px 8px #142C5C, 0px 10px 10px #3465AC;
	-webkit-box-shadow: 0px 8px #142C5C, 0px 10px 10px #3465AC;
	box-shadow: 0px 8px #142C5C, 0px 10px 10px #3465AC;
	color: #FFFFFF;
	background-color: #29548D;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(30, 63, 108)), to(rgb(53, 106, 175)));
	background-image: -webkit-linear-gradient(top, rgb(30, 63, 108), rgb(53, 106, 175));
	background-image: -moz-linear-gradient(top, rgb(30, 63, 108), rgb(53, 106, 175));
	background-image: -o-linear-gradient(top, rgb(30, 63, 108), rgb(53, 106, 175));
	background-image: -ms-linear-gradient(top, rgb(30, 63, 108), rgb(53, 106, 175));
	background-image: linear-gradient(to bottom, rgb(30, 63, 108), rgb(53, 106, 175));
	-moz-transition: box-shadow 0.1s, background 0.1s, -moz-transform 0.1s, transform 0.1s;
	-webkit-transition: box-shadow 0.1s, background 0.1s, -webkit-transform 0.1s, transform 0.1s, top: 0.1s;
	transition: box-shadow 0.1s, background 0.1s, transform 0.1s;
}
.toplinks UL LI A:hover
{
	/*+box-shadow: 0px 10px #142C5C, 0px 12px 30px #5693E3;*/
	-moz-box-shadow: 0px 10px #142C5C, 0px 12px 30px #5693E3;
	-webkit-box-shadow: 0px 10px #142C5C, 0px 12px 30px #5693E3;
	box-shadow: 0px 10px #142C5C, 0px 12px 30px #5693E3;
}
@media (-webkit-min-device-pixel-ratio: 0)
{
	.toplinks UL LI A:active, .toplinks UL LI A.selected
	{
		top: 7px;
	}
}
.toplinks UL LI A:active, .toplinks UL LI A.selected
{
	-ms-transform: translate(0px, 7px);
	-moz-transform: translate(0px, 7px);
	/*[disabled]-webkit-transform:translate(0px, 7px);*/
}
@media not screen and (-webkit-min-device-pixel-ratio: 0)
{
	.toplinks UL LI A:active, .toplinks UL LI A.selected
	{
		transform: translate(0px, 7px);
	}
}
.toplinks UL LI A:active, .toplinks UL LI A.selected
{
	background-color: #224776;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#183557), to(#2c5995));
	background-image: -webkit-linear-gradient(top, #183557, #2C5995);
	background-image: -moz-linear-gradient(top, #183557, #2C5995);
	background-image: -o-linear-gradient(top, #183557, #2C5995);
	background-image: -ms-linear-gradient(top, #183557, #2C5995);
	background-image: linear-gradient(to bottom, #183557, #2C5995);
	/*+box-shadow: 0px 1px #142C5C, 0px 1px 7px #5693E3;*/
	-moz-box-shadow: 0px 1px #142C5C, 0px 1px 7px #5693E3;
	-webkit-box-shadow: 0px 1px #142C5C, 0px 1px 7px #5693E3;
	box-shadow: 0px 1px #142C5C, 0px 1px 7px #5693E3;
}
/*max-width:1024px*/
@media only screen and (max-width: 1024px)
{
	.toplinks UL LI A
	{
		display: inline-block;
		width: auto;
		padding: 11px 8px;
		font-size: 90%;
		margin-bottom: 5px;
		/*+border-radius: 8px;*/
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-khtml-border-radius: 8px;
		border-radius: 8px;
	}
}
/*max-width:480px*/
@media only screen and (max-width: 480px)
{
	.toplinks UL LI A
	{
		background: transparent;
		/*+box-shadow: none;*/
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		white-space: nowrap;
		margin-bottom: 0;
		padding: 5px;
	}
	.toplinks UL LI A:hover
	{
		background: transparent;
		/*+box-shadow: none;*/
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.toplinks UL LI A:active, .toplinks UL LI A.selected
	{
		top: 0;
		-ms-transform: initial;
		-moz-transform: initial;
		/*[disabled]-webkit-transform:initial;*/
		transform: initial;
		background: #29548D;
		/*+box-shadow: none;*/
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
/*[clearfix]*/
.framecontainer
{
	padding: 0 0 30px;
	background-color: transparent;
}
@media only screen and (max-width: 480px)
{
	.framecontainer
	{
		padding: 0 0 30px;
	}
}
.content.frame, .content.unframed
{
	margin: auto;
	max-width: 926px;
	=width: 926px;
	padding-left: 10px;
	padding-right: 10px;
}
/*[clearfix]*/
.content.frame
{
	padding: 36px;
	/*+border-radius: 20px;*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #FFFFFF;
	/*+box-shadow: inset 0 0 20px #BDD9FF, 0px 0px 15px rgba(0, 0, 0, 0.25);*/
	-moz-box-shadow: inset 0 0 20px #BDD9FF, 0px 0px 15px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 0 20px #BDD9FF, 0px 0px 15px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0 20px #BDD9FF, 0px 0px 15px rgba(0, 0, 0, 0.25);
	background-color: #FFFFFF;
	color: #000000;
}
@media only screen and (max-width: 480px)
{
	.content.frame, .content.unframed
	{
		margin: 0;
		max-width: 100%;
	}
	.content.frame
	{
		/*+border-radius: 0;*/
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
		border-radius: 0;
		border-left: none;
		border-right: none;
	}
}
.content.frame H4
{
	font-size: 25px;
	left: 1px;
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content.frame UL, .content.frame OL
{
	padding: 15px 25px 15px 40px;
}
.content.frame UL LI
{
	padding-bottom: 10px;
}
.content.frame P
{
	margin-top: 15px;
	margin-bottom: 15px;
}
.content.unframed
{
}
.cta .content.frame
{
	padding-top: 10px;
}
.cta .content
{
	font-size: 16px;
}
.cta .content .instructions
{
	/*+placement: float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}
.cta .content .instructions H3
{
	font-size: 24px;
	margin-top: 20px;
}
.cta .content .downloadbutton
{
	/*+placement: float-right 0px -4px;*/
	float: right;
	position: relative;
	left: 0px;
	top: -4px;
	padding: 17px 50px;
	border: 0;
	font: 400 20px "Roboto Condensed", Helvetica, sans-serif;
	/*+border-radius: 50px;*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	/*+box-shadow: 0px 7px #2F8A46, 0px 8px #246B36, 0px 6px 20px rgba(0, 0, 0, 0.5);*/
	-moz-box-shadow: 0px 7px #2F8A46, 0px 8px #246B36, 0px 6px 20px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 7px #2F8A46, 0px 8px #246B36, 0px 6px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 7px #2F8A46, 0px 8px #246B36, 0px 6px 20px rgba(0, 0, 0, 0.5);
	background-color: #52C065;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#79d989), to(#2ca841));
	background-image: -webkit-linear-gradient(top, #79D989, #2CA841);
	background-image: -moz-linear-gradient(top, #79D989, #2CA841);
	background-image: -o-linear-gradient(top, #79D989, #2CA841);
	background-image: -ms-linear-gradient(top, #79D989, #2CA841);
	background-image: linear-gradient(to bottom, #79D989, #2CA841);
	background-repeat: no-repeat;
	color: #246B36;
	color: #FFFFFF;
	text-shadow: -1px -1px rgba(42, 143, 67, 1);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 20px;
}
.button
{
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Roboto Condensed", HelveticaNeue-Condensed, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	/*+border-radius: 25px;*/
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #5B84EA;
	background-color: #396BE3;
	/*+box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);*/
	-moz-box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);
	color: #F0F6FE;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	-webkit-appearance: none;
}
.button:hover
{
	background-color: #5D96E8;
	/*+box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);*/
	-moz-box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 30px 20px -20px #96D9FA, 0px 1px 3px rgba(0, 0, 0, 0.4);
	color: #FFFFFF;
	-webkit-transition-duration: 0.15s;
	-moz-transition-duration: 0.15s;
	transition-duration: 0.15s;
}
.button:active
{
	/*+box-shadow: none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.button:disabled
{
	/*+box-shadow: none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #DEE8F5;
	background-color: #EBF2FC;
	color: #9DBAE3;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}
INPUT.button
{
	padding: 4px 21px 6px;
}
A.button
{
	margin: 4px;
	padding: 0px 10px;
	text-decoration: none;
	display: inline-block;
	=display: inline;
	=zoom: 1;
	font-size: 90%;
}
.content .formMessage
{
	text-align: center;
	margin: 0 0 1em;
}
.content .formMessage SPAN
{
	/*[disabled]border:1px solid #C9D6E8;*/
	padding: 5px 10px;
	/*[disabled]+border-radius:6px;*/
	font-size: 9.4pt;
	/*[disabled]font-style:italic;*/
	margin: 0 auto;
	background-color: #EBF2FB;
	color: #5C6E86;
	display: block;
}
.content .formMessage SPAN A
{
	color: #4175BE;
}
.content .formMessage SPAN A:hover
{
	color: #83A5D5;
}
.content .formMessage.errorMessage SPAN
{
	color: #FFFFFF;
	background-color: #FF9E63;
}
.content SECTION ~ SECTION, .content FIELDSET ~ SECTION, .content SECTION ~ FIELDSET
{
	margin-top: 27px;
}
.content FIELDSET LABEL
{
	display: block;
	color: #676767;
	margin: 5px;
	clear: both;
}
.content FIELDSET LABEL SPAN
{
	width: 160px;
	float: left;
	clear: left;
	text-align: right;
	padding: 3px;
	padding-right: 9px;
	font-weight: 300;
}
@media (max-width: 880px)
{
	.content FIELDSET LABEL SPAN
	{
		width: 30%;
	}
}
.content FIELDSET LABEL.hasError SPAN
{
	height: 3.25em;
}
/*[clearfix]*/
.content LABEL.hasError
{
	outline: 1px solid #FFD0A2;
	background-color: #FFFBF7;
	padding-top: 5px;
}
.content LABEL.hasError INPUT
{
	background-color: #FFFFFF;
}
.content LABEL.hasError .fieldError
{
	font-weight: 300;
	font-size: 80%;
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #FF9F40;
}
.content LABEL INPUT, .content LABEL SELECT
{
	width: 355px;
}
@media (max-width: 880px)
{
	.content LABEL INPUT, .content LABEL SELECT
	{
		width: 60%;
	}
}
.content LABEL INPUT
{
	border: 1px solid transparent;
	-border: 1px solid #FFFFFF;
	border-bottom: 1px dotted #DDD;
	background-color: transparent;
	padding: 3px;
	-webkit-appearance: none;
}
.content LABEL INPUT:focus
{
	border: 1px solid #7CA8E5;
	outline: none;
	/*+box-shadow: 0px 0px 4px #96B8E9;*/
	-moz-box-shadow: 0px 0px 4px #96B8E9;
	-webkit-box-shadow: 0px 0px 4px #96B8E9;
	box-shadow: 0px 0px 4px #96B8E9;
}
.content LABEL INPUT.hasError:focus
{
	border: 1px solid #FF9F40;
	/*+box-shadow: 0px 0px 4px #FF9F40;*/
	-moz-box-shadow: 0px 0px 4px #FF9F40;
	-webkit-box-shadow: 0px 0px 4px #FF9F40;
	box-shadow: 0px 0px 4px #FF9F40;
	-moz-box-shadow: 0 0 4px #FF9F40;
	-webkit-box-shadow: 0 0 4px #FF9F40;
	-o-box-shadow: 0 0 4px #FF9F40;
	box-shadow: 0 0 4px #FF9F40;
}
.content LABEL INPUT.hasChange
{
	color: #64A932;
}
.content LABEL INPUT:disabled
{
	color: #444 !important;
}
.content TABLE
{
	width: 100%;
}
.content TABLE TH
{
	font-weight: 300;
	color: #777;
	background-color: #E7E7E7;
}
.content TABLE TH, .content TABLE TD
{
	padding: 3px 10px;
}
.content TABLE TR:nth-child(odd)
{
	background-color: #F7F7F7;
}
.content .formButtons
{
	text-align: center;
	padding: 10px;
}
.content .modeButtons
{
	text-align: center;
	margin-top: 10px;
	border-top: 1px dotted #E7E7E7;
	margin-bottom: 20px;
	padding: 4px 3px 5px;
}
.content .modeButtons LI
{
	display: block;
}
.content .modeButtons LI A
{
	text-decoration: none;
	padding: 5px;
	color: #809CC6;
	font-size: 100%;
}
.content .modeButtons LI .signupButton
{
	float: left;
}
.content .modeButtons LI .requestButton
{
	float: right;
}
.content TABLE TH:first-child
{
	-moz-border-radius: 5px 0 0;
	-webkit-border-radius: 5px 0 0;
	-khtml-border-radius: 5px 0 0;
	border-radius: 5px 0 0;
}
.content TABLE TH:last-child
{
	/*+border-radius: 0 5px 0 0;*/
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-khtml-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}
.content .criticalMessage
{
	font-style: italic;
	text-align: center;
	font-weight: 300;
}
/*site map*/
.sitemap
{
	background-color: #000000;
	/*+box-shadow: 0px 0px 5px #FFFFFF, 0 20px 50px 30px #C1DBFF, inset 0px 4px 2px #000000, inset 0px 60px 150px -80px #5E91D7;*/
	-moz-box-shadow: 0px 0px 5px #FFFFFF, 0 20px 50px 30px #C1DBFF, inset 0px 4px 2px #000000, inset 0px 60px 150px -80px #5E91D7;
	-webkit-box-shadow: 0px 0px 5px #FFFFFF, 0 20px 50px 30px #C1DBFF, inset 0px 4px 2px #000000, inset 0px 60px 150px -80px #5E91D7;
	box-shadow: 0px 0px 5px #FFFFFF, 0 20px 50px 30px #C1DBFF, inset 0px 4px 2px #000000, inset 0px 60px 150px -80px #5E91D7;
	border-top: 1px solid #B5D2F7;
	color: #FFFFFF;
}
/*[clearfix]*/
.sitemap .content
{
	max-width: 800px;
	=width: 800px;
	margin: auto;
	padding: 26px;
	text-align: center;
	min-height: 500px;
}
.sitemap .content DIV
{
	display: inline-block;
	=display: inline;
	=zoom: 1;
	vertical-align: top;
	width: 191px;
}
.sitemap .content UL LI
{
	list-style: none;
}
.sitemap .content A
{
	color: #6B94CE;
}
.sitemap .content A:hover
{
	color: #A2C9FF;
}
.sitemap .content H4
{
	font-size: 13.3pt;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 400;
}
